body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
    box-sizing: border-box;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    text-align: center;
    line-height: 100px;
}

header, nav, footer {
    height: 100px;
}

header {
    margin: 10px 0 0 0;
}

nav, footer{
    margin: 10px 0 10px 0;
}
section, aside{
    margin: 20px 0 20px 0;

}

section {
    width: 495px;
    margin-right: 20px;
}

article {
    color: #ebebeb;
    background: #777;
    margin: 15px;
    line-height: 40px;
    /* outline: blue solid 10px; */
}

.h-1, p {
    color: #777;
    background: #ebebeb;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    /* outline: #4CAF50 solid 10px; */
}

aside {
    width: 465px;
}